* {
    margin: 0;
 
    box-sizing: border-box;
}

.bg-color{
      background-color: #1A0B2E;
}


 #navbar nav {
    width: 100%;
    max-width: 1600px;
    height: 92px;
    padding: 16px 200px;
      background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo h2{ color: #FFFFFF;

}
 .nav-logo h2 .wave{  
  background-image: linear-gradient(to right, #d6609b,#8000ff ,#e89dd6);
  background-clip: text;
  -webkit-background-clip: text;  
  color: transparent;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
 }
 .nav-list{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 12px;
 
 }
  .nav-list a{
    text-decoration: none;
        color: #FFFFFF;
  }

 .nav-gradient-btn{
      background: linear-gradient(to right, #FFEB3B, #cf5e84, #2898a7);
      border: none;
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  gap: 10px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;  
  font-size: 14px;
  font-weight: 400;
 }
 
 .nav-gradient-btn img{
    width: 20px;
    height: 17px;
 }
 .nav-hr {
     max-width: 100%;         
     height: 1px;            
     background-color: #412567;  
     width: 1600px;          
    border: none;           
    margin: 0 auto;         
}


 .hero-bg{
    max-width: 1600px;
    width: 100%;
    height: 760px; 
     background-image: url("hero-bg.png");
    background-size: cover;
    background-position: center;   
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
     
  
}
 
  
 .banner-content{
    width: 550px;
    height: 558px;
    
    display: flex;
    flex-direction: column;
       align-items: center;
    justify-content: flex-start;
  
 }
 .banner-mp{
    width: 350px;
    height: 350px;
       border-radius: 50%;  
    background: linear-gradient
    (   to right, #FFEB3B, #e05e89, #2398a7 );

    border: 5px solid #2A186C;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0;   
 }
 
 .banner-texts{
    text-align: center; 
    width: 100%;

}
.banner-texts h1{
    font-size: 60px;
    font-weight: 800px;
    color: #FFFFFF;
    padding-top: 40px;
}
.banner-texts p{
    font-size: 14px;
    font-weight: 200px;
    color: #FFFFFF ;
     opacity: 0.8;
         margin-top: 10px; 
    
}
.banner-btn{
    margin-top: 18px;
     gap: 12px;
     display: flex;
     align-items: center;
     justify-content: center;

  
}
.banner-btn button {
    gap: 8px;                  
    padding: 6px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.banner-btn .spotify{
      background: linear-gradient(  to right,
        #FFEB3B,
        #e05e89,
        #2398a7
    );

     display: flex;            
    align-items: center;       
    gap: 8px;          
    padding:  5px 20px  5px 20px;
    border: none;
    border-radius: 25px;

}
.banner-btn .sms{
   
    color: #00ff88;
      border: 1px solid #00ff88 ;
      background-color: #2A186C;
     display: flex;            
    align-items: center;
    padding:  6px 20px  6px 20px;
     border-radius: 25px;
    font-size: 14px;
    font-weight: 200px;
    opacity: 0.7;

}
 /* aboutt */

 .about{
     max-width: 1600px;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }
.about-container{
    padding: 50px 200px 120px 200px;
}
.about-container-content{
     
    width: 1200px;
    height: 220px;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.about-container-content h1{
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
    padding-bottom: 12px;
}
.about-container-content p{
    font-size: 14px;
      font-weight: 200;
    color: #FFFFFF;
    opacity: 0.8;
    line-height: 20px;
    text-align: center;
}
.about-hr {
     max-width: 100%;         
     height: 1px;            
     background-color: #412567;  
              
    border: none;           
    margin: 0 auto;         
}
.about-stats{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.stat-one h3{
    font-size: 48px;
    font-weight: 900px;
    color: #00ff88;
}
.stat-one p{
    font size: 15px;
     font-weight: 200px;
      padding-top: 7px;
       color: #FFFFFF;
    opacity: 0.6;
    
     
}
.stat-two h3{
    font-size: 48px;
    font-weight: 900px;
    color: #00ff88;
}
.stat-two p{
    font size: 15px;
     font-weight: 200px;
      padding-top: 7px;
       color: #FFFFFF;
    opacity: 0.6;
}
.stat-three h3{
    font-size: 48px;
    font-weight: 900px;
    color: #00ff88;
}
.stat-three p{
    font size: 15px;
     font-weight: 200px;
      padding-top: 7px;
       color: #FFFFFF;
    opacity: 0.6;
}
.stat-four h3{
    font-size: 48px;
    font-weight: 900px;
    color: #00ff88;
}
.stat-four p{
    font size: 15px;
     font-weight: 200px;
      padding-top: 7px;
       color: #FFFFFF;
    opacity: 0.6;
}

/* choosee seection */